$polimorph-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1),
  2px 2px 4px 0px rgba(245, 245, 245, 0.2) inset;

.navbar {
  $primary: var(--primary);
  $secondary: var(--secondary);
  position: absolute;
  display: flex;
  align-items: center;
  font-size: larger;
  gap: 20px;
  right: 10px;
  top: 30px;

  #newSearch {
    color: white;
    font-family: monospace;
    font-weight: 400;
    text-shadow: 2px 2px 4px 4px black;
    border-radius: 100px;
    box-shadow: $polimorph-shadow;
    height: 50px;
    padding: 10px;
    backdrop-filter: blur(2px);
    background-color: $primary;

    display: flex;
    justify-content: center;
    align-items: center;
    text-justify: center;

    &:hover {
      background: rgba(255, 255, 255, 0.7);
    }
    &:active {
      transform: translateY(2px);
    }
  }
  @media (width < 765px) {
    #newSearch {
      font-size: 1.1rem;

      text-wrap: wrap;
      > p {
        > span {
          display: none;
        }
      }
    }
  }

  .logButton {
    width: 100px;
    height: 50px;
    font-size: inherit;
    background: transparent;
    border-radius: 30px;
    border: 3px solid white;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 2px 2px white;
    }
    &.login {
      background: $primary;
      border-color: $secondary;
      color: $secondary;
    }
    &.logout {
      border: unset;
      box-shadow: $polimorph-shadow;
      backdrop-filter: blur(2px);
    }
    &:hover.login {
      box-shadow: 0 0 2px 2px $secondary;
    }
  }
  @media (width <= 765px) {
    .logButton {
      width: 80px;
    }
  }

  .user_container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;

    border-radius: 100px;
    box-shadow: $polimorph-shadow;
    backdrop-filter: blur(3px);

    .user_pic {
      $size: 50px;
      width: $size;
      height: $size;
      border-radius: 100px;
      overflow: hidden;
      box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.4);
      background: $primary;
      display: flex;

      &::after {
        content: 'A';
        position: relative;
        align-self: center;
        left: 18px;
      }
    }
  }
}

@media (width<= 765px) {
  .navbar {
    font-size: medium;
  }
}
