.container {
  $size: 60px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  z-index: 0;

  .searchbar {
    background: transparent;
    text-align: center;
    z-index: 10;
    padding: 0;
    margin: 0;
    min-width: 500px;
    height: $size;

    border: none;

    color: rgb(114, 85, 124);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    text-shadow: 1px 1px 4px 4px var(--primary);
    font-weight: 900;

    flex: 1 1 0;
    transition: all 0.5ms ease-out;

    &::placeholder {
      color: rgb(166, 138, 185);
      text-shadow: 1px 1px 1px 1px white;
      font-weight: bolder;
    }

    &:focus {
      background: rgba(255, 255, 255, 0.26);
      outline: none;
    }
  }
  @media (width <= var(--small-screen)) {
    .searchbar {
      font-size: 1rem;
      width: 100%;
      min-width: auto;
      min-height: $size;
    }
  }

  .button {
    background: var(--primary)
      radial-gradient(circle at 0 0, rgba(255, 255, 255, 0.3) 0%, transparent 100%);
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: none;
    height: $size;

    padding: 0 10px;
    transition: all 0.1s ease-out;
    flex: 1 1 0;

    &:hover {
      filter: brightness(1.1);
    }
    &:active {
      filter: brightness(1.4);
    }
  }
  @media (width <= var(--small-screen)) {
    .button {
      font-size: 1rem;
      width: 100%;
    }
  }

  .selectContainer {
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

    .serviceButton {
      $color: var(--primary);
      $accent: var(--secondary);
      width: 200px;
      min-height: 70px;
      border: none;
      font-size: 1.5rem;
      text-shadow: 1px 1px 2px $accent;

      cursor: pointer;
      background: $color;
      transition: all 50ms ease-in-out;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;

      &:hover {
        background: radial-gradient(circle at 50% 0%, $color, $accent 150%);
      }
      &:active {
        box-shadow: inset 0px 0px 10px 5px white;
      }
      .icon {
        $size: 70px;
        width: $size;
        height: $size;
      }
    }
  }
  @media (width <= var(--small-screen)) {
    .selectContainer {
      justify-content: center;
      min-width: 70vw;
      gap: 10px;
      padding: 10px;
      & * {
        border: red 1px solid;
      }

      .serviceButton {
        width: 100%;
        font-size: 1.2rem;
        flex-direction: row;
        .icon {
          $size: 40px;
          width: $size;
          height: $size;
        }
      }
    }
  }
}
