.container {
  $primary: var(--primary);
  $secondary: var(--secondary);
  display: flex;
  flex-direction: column;
  position: absolute;
  align-self: flex-start;
  top: 22vh;

  width: min(100vw, 1000px);
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;

  border-radius: 5px;
  backdrop-filter: blur(4px);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  padding: 1rem;

  .body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .territorialSection {
    margin-top: 10px;
    border: 1px red dotted;

    h3 {
      color: $primary;
    }

    ul {
      border: 1px white dotted;
      display: flex;
      position: relative;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: flex-start;

      li {
        list-style: none;

        position: relative;

        // &[data-scope='city'] {
        //  background-color: white;

        // }

        article.card {
          padding: 5px;
          background: rgba(229, 0, 250, 0.5);

          border-radius: 5px;
          height: 260px;
          min-width: 150px;

          &[data-scope='city'] {
            background: $primary;
            font-size: large;
          }
          // &[data-scope='province'] {
          // }
          &[data-scope='region'] {
            height: 150px;
            aspect-ratio: unset;
            font-size: 0.92rem;
          }
        }
      }
    }
  }
}
