$primary: var(--primary);
$secondary: var(--secondary);
$accent: rgba(255, 255, 255, 0.2);

.card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: rgba(229, 0, 250, 0.6);
  border: 1px transparent solid;

  border-radius: 5px;
  height: 260px;
  min-width: 160px;
  transition: transform, box-shadow, 100ms ease-in;

  &:hover {
    // border: 1px rgba(255, 255, 255, 0.5) solid;
    transform: scale(1) perspective(800px) rotateX(10deg) rotateY(1deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
  }

  &[data-scope='city'] {
    background: $primary;
    font-size: large;
  }
  // &[data-scope='province'] {
  // }
  &[data-scope='region'] {
    height: 180px;
    aspect-ratio: unset;
    font-size: 0.92rem;
    .avatar {
      padding: 4px;
      img {
        width: 28px;
        height: 28px;
      }
    }
  }

  > button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
  }

  .avatar {
    $border-size: 4px;
    position: relative;
    background-color: $accent;
    border-radius: 50px;
    border: $border-size solid transparent;
    padding: 10px;
    width: fit-content;
    aspect-ratio: 1/1;
    justify-items: center;
    align-self: center;
    cursor: pointer;
    &:hover {
      border: $border-size solid $accent;
    }
    &:active {
      background-color: $secondary;
    }

    img {
      position: relative;
      width: 50px;
      height: 50px;
    }
  }
  .personalInformation {
    display: block;
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;

    text-align: center;
    p {
      font-size: small;
    }
  }
}
