.stamp {
  $displace: 50px;
  // border: 1px solid white;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  right: -$displace * 0.65;
  top: -3px;
  width: $displace;
  height: 30px;
  opacity: 0.5;

  > img {
    width: 15px;
    height: 15px;
    color: var(--secondary);
  }

  .dialog {
    background: white;
    color: var(--primary);
    border-radius: 2px;
    padding: 3px 10px;
    font-size: 0.8rem;

    position: absolute;
    display: hidden;
    top: 0;
    right: -$displace * 0.5;

    opacity: 0;
    transition: 200ms all ease-out;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

    //pointer <-
    &::after {
      $pointer_size: 10px;
      content: '';
      position: absolute;
      left: -19px;
      top: 5px;
      border: $pointer_size solid transparent;
      border-right: $pointer_size solid white;

      width: 0px;
      height: 0px;
    }

    > p {
      display: block;
    }
    > a {
      font-weight: 700;
    }
  }

  &:hover {
    opacity: 1;
    .dialog {
      display: block;
      opacity: 1;
      right: -40px;
    }
  }
}
