$card: radial-gradient(
  circle at left 20% top 20%,
  rgba(255, 255, 255, 0.8) 0%,
  rgba(255, 255, 255, 0.1) 100%
);
$primary: var(--primary);
$secondary: var(--secondary);

.main {
  // border: 1px solid white;
  display: flex;
  position: relative;
  height: 100vh;
  overflow-y: auto;

  .container {
    background: $card;
    border-radius: 8px;
    // border: 2px $primary solid;

    width: min(800px, 100%);
    min-height: 80%;
    margin: 0 5px;

    backdrop-filter: blur(5px);
    transition: height 200ms ease-out;
    padding: 10px;

    .top {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .avatarFrame {
        display: flex;
        flex-direction: column;
        background: $primary;
        min-width: 200px;
        min-height: 200px;
        color: white;
        padding: 4px;
        border-radius: 0.5rem;

        .avatar {
          $size: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1000px;
          background: $card;
          width: $size;
          height: $size;
          border: 5px solid white;
          align-self: center;
          justify-self: center;

          > img {
            width: $size * 0.6;
            aspect-ratio: 1/1;
          }
        }
      }
      .personal {
        background: $primary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 0;
        border-radius: 4px;
        padding: 10px;
        > h2 {
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
          font-weight: 200;
        }
        > h3 {
          font-family: monospace;
          font-size: 1.1rem;
          display: flex;
          flex-direction: row;
          align-items: center;

          gap: 5px;
          color: $primary;
          background: radial-gradient(circle at 25% 10%, $secondary, $primary 300%);
          border-radius: 1rem;
          padding: 0.5rem;
          width: fit-content;

          > span {
            font-weight: 900;
            background-color: $primary;
            color: $secondary;
            padding: 2px 5px;
            border-radius: 0.6rem;
          }
        }

        > ul.competence {
          // border: 1px solid red;
          position: relative;
          list-style: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 25px;

          justify-content: center;

          margin-top: 10px;
          margin-bottom: 30px;

          > li.install {
            $install-ico-size: 50px; //child icon size config
            $border: 2px; //button contain
            $curtain: rgba(255, 255, 255, 0.3);

            width: $install-ico-size + $border * 2; //on hover, to content-fit
            // width: 170px;
            display: flex;

            align-items: center;
            overflow-x: hidden;

            background-color: $secondary; //on hover has to change to $curtain

            border: $border solid $secondary;
            border-radius: 100px;
            box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);

            cursor: pointer;
            transition: all 400ms ease-in-out;

            &:hover {
              width: 200px;
              background-color: $curtain;
            }

            //install icon
            > img {
              width: $install-ico-size;
              height: $install-ico-size;
              padding: 2px;
              border: $border solid $secondary;
              border-radius: 50px;
              background-color: $primary;
            }
            //ouside number 100kW

            > p.outside_limits {
              visibility: visible;
              display: flex;
              align-items: center;
              position: absolute;
              transform: translateY($install-ico-size * 0.75);
              width: $install-ico-size;
              text-align: center;

              font-size: 0.9rem;
              font-weight: bold;
            }
            &:hover {
              > p.outside_limits {
                visibility: hidden;
              }
            }

            span.unit {
              font-size: 0.7rem;
              background: white;
              align-items: center;
              text-justify: center;
              padding: 1px 4px;
              color: $primary;
              opacity: 0.55;
              border-radius: 4px;
              font-weight: bold;
            }

            //install description📖
            section {
              display: flex;
              flex-direction: column;
              gap: 5px;
              // border: 1px solid red;

              padding: 0 10px;
              transform: scaleX(1);

              > article {
                display: flex;
                gap: 5px;
                > p {
                  white-space: nowrap;
                }
              }
              > article:last-child {
                font-size: 0.7rem;
                position: relative;
                display: flex;
                align-items: center;
              }

              p.limits {
                font-size: 0.9rem;
                font-weight: bolder;
              }
            }
          }
        }
      }
    }
  }
  @media (width <= 756px) {
    .container {
      min-height: 90%;
      margin-top: 2rem;

      .top {
        flex-direction: column;
        .personal {
          > h3 {
            flex-direction: column;
            padding: 5px;
            border-radius: 10px;
            > span {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
